---
- name: Create GCP Instance
  hosts: localhost
  gather_facts: no
  vars:
    project_id: feisty-script-469614-h4
    zone: asia-southeast1-a
    machine_type: e2-medium
    instance_name: test-machine
    service_account_file: ../gcp-key.json

  tasks:
    - name: Create a GCP instance
      google.cloud.gcp_compute_instance:
        name: "{{ instance_name }}"
        machine_type: "{{ machine_type }}"
        zone: "{{ zone }}"
        project: "{{ project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ service_account_file }}"
        state: present
        disks:
          - auto_delete: true
            boot: true
            initialize_params:
              source_image: projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts
        network_interfaces:
          - access_configs:
              - name: External NAT
                type: ONE_TO_ONE_NAT
      register: instance

    - name: Show Instance IP
      debug:
        msg: "Instance Created! IP: {{ instance.networkInterfaces[0].accessConfigs[0].natIP }}"
