---
- name: Destroy GCP Instance
  hosts: localhost
  gather_facts: no
  vars:
    project_id: feisty-script-469614-h4
    zone: asia-southeast1-a
    instance_name: test-machine
    service_account_file: ../gcp-key.json

  tasks:
    - name: Destroy the GCP instance
      google.cloud.gcp_compute_instance:
        name: "{{ instance_name }}"
        zone: "{{ zone }}"
        project: "{{ project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ service_account_file }}"
        state: absent
      register: instance

    - name: Confirm Deletion
      debug:
        msg: "Instance '{{ instance_name }}' has been deleted."
